# ---------------------------------------------------------------------
#                                 PYTHON
# ---------------------------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# ---------------------------------------------------------------------
#                                 OTHER FILES
# ---------------------------------------------------------------------

# configuration files
*.yaml

# log files
*.log

_NOT_COMMIT/